name: CI-DockerBuild

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: lpintofsgrp/frontend
          tags: |
            type=raw,value=build-${{ github.run_number }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install OC CLI
        run: |
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz | tar xz
          sudo mv oc /usr/local/bin/
          oc version

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Log in Openshift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}

      - name: Package and push Helm Chart to Docker Hub (OCI)
        env:
          IMAGE_TAG: build-${{ github.run_number }}
        run: |
          sed -i "s|{{ tag }}|${IMAGE_TAG}|g" ./chart/values.yaml
          helm package ./chart
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | helm registry login registry-1.docker.io --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
          helm push ./*.tgz oci://registry-1.docker.io/lpintofsgrp

      - name: Deploy to OpenShift using Helm chart from OCI
        env:
          IMAGE_TAG: build-${{ github.run_number }}
        run: |
          oc project lpintofsgrp-dev || oc new-project lpintofsgrp-dev
          helm upgrade --install frontend oci://registry-1.docker.io/lpintofsgrp/frontend --version 0.1.0 -n lpintofsgrp-dev -f ./chart/values.yaml --wait --timeout 10m
